*{
  padding: 0;
  margin: 0 auto;
  width: 100%
}

.clearfix{
  clear: both;
}

header{
  /*width: 940px;*/
  /*border: 2px solid blue;*/
  height: 75px;
}

body{
  max-width: 960px;
  background-color: #E8CE5B;
  /*border: 2px solid black;*/
}


#logo {
  width: 50px;
  height: 50px;
  float: left;
}

#blog-name {
  width: 400px;
  margin-left: 2%;
  float:left;
}

#logo-size{
  width: 25px;
  height: 25px;
  display: flex;
  margin: 5px;

}

#media-logo {
  margin-left: 30%;
  float:left;
  width: 100px;

}

#gray-bar{
  height: 15px;
  background-color: gray;
  margin-top: 10px;
}

#print-logo{
  height: 25px;
  width: 25px;
  float:left;
  margin-left: 60%;
  margin-top: 25px;
  display: flex;
}

#chocolate-pizza{
  width: 225px;
  float:left;
}

#title{
  margin-top: 100px;
}

#choco-pic{
  margin-top: 20px;
}

p3{
  margin:20px;
  display:block;
}

#recipe{
  background-image: url(images/list-bg.png);
  background-size: 100% 100%;
  height: 400px;
  border: 2px solid black;
}

p4{
  float:left;
  margin-left: 10%;
  margin-top: 5%;
  width: 200px;
  font-size: 25px;


}

p5{
  float: left;
  margin-left: 30%;
  width: 350px;
  margin-top: 45px;
  font-size: 25px;

}

li{
  padding-top: 10px;
}
